<div class="form-inline">
    <!--<select [(ngModel)]="category" class="form-control" (change)="getCategory()">-->
    <select #categorySel class="form-control" (change)="getCategory(categorySel.value)">
        <option value="1">Category 1</option>
        <option value="2">Category 2</option>
        <option value="3">Category 3</option>
    </select>
</div>

<form #f="ngForm" (ngSubmit)="addProduct(f, categorySel.value)" class="form-inline">
    <div class="form-group">
        <label>
            Product:
            <input ngModel name="name" placeholder="product name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Price:
            <input ngModel name="price" placeholder="product price"  class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Category:
            <select ngModel name="category" class="form-control">
                <option value="1">Category 1</option>
                <option value="2">Category 2</option>
                <option value="3">Category 3</option>
            </select>
        </label>
    </div>
    <button class="btn btn-default">Add product</button>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of ProductList" [class.red]="product.price >= 500">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td><button (click)="delProd(product)">Delete</button></td>
        </tr>
    </tbody>
</table>
