.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

table {
    background-color: transparent;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table thead th {
    vertical-align: bottom;
    /*border-bottom: 2px solid #eceeef;*/
}

/*.table td, .table th {*/
    /*padding: .75rem;*/
    /*vertical-align: top;*/
    /*border-top: 1px solid #eceeef;*/
/*}*/

th {
    text-align: left;
    font-weight: bold;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}